*{
     margin:0;
padding: 0;
}

.cabecalho{
    background-color: #0B0B0D;
    font-size: 50px;
    color: aliceblue;
    display: flex;
}

#estrelinha{
   max-width: 20px;
   right:30% ;
   padding: 20%;
}